{% extends "govuk/template.njk" %}

{% block pageTitle %}{{ title }} - NDX{% endblock %}

{% block bodyStart %}
  {% include "components/cookie-banner/template.njk" %}
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/assets/styles.css">
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ content | safe }}
    </div>
  </div>
{% endblock %}
