{#
  GOV.UK Cookie Banner Component

  Implements the GOV.UK Design System cookie banner pattern.
  https://design-system.service.gov.uk/components/cookie-banner/

  Usage:
  {% include "components/cookie-banner/template.njk" %}

  JavaScript initialization required in cookie-banner.ts
#}

<div class="govuk-cookie-banner" data-nosnippet role="region" aria-label="Cookies on NDX" data-cookie-banner hidden>
  {# Question message - shown when no consent #}
  <div class="govuk-cookie-banner__message govuk-width-container" data-cookie-banner-question>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-cookie-banner__heading govuk-heading-m">Cookies on NDX</h2>
        <div class="govuk-cookie-banner__content">
          <p class="govuk-body">We use some essential cookies to make this service work.</p>
          <p class="govuk-body">We'd also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
        </div>
      </div>
    </div>
    <div class="govuk-button-group">
      <button type="button" class="govuk-button" data-cookie-banner-accept>
        Accept analytics cookies
      </button>
      <button type="button" class="govuk-button govuk-button--secondary" data-cookie-banner-reject>
        Reject analytics cookies
      </button>
      <a class="govuk-link" href="/cookies/">View cookies</a>
    </div>
  </div>

  {# Confirmation message - shown after accept #}
  <div class="govuk-cookie-banner__message govuk-width-container" data-cookie-banner-accepted role="alert" tabindex="-1" hidden>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-cookie-banner__content">
          <p class="govuk-body">You've accepted analytics cookies. You can <a class="govuk-link" href="/cookies/">change your cookie settings</a> at any time.</p>
        </div>
      </div>
    </div>
    <div class="govuk-button-group">
      <button type="button" class="govuk-button govuk-button--secondary" data-cookie-banner-hide>
        Hide cookie message
      </button>
    </div>
  </div>

  {# Confirmation message - shown after reject #}
  <div class="govuk-cookie-banner__message govuk-width-container" data-cookie-banner-rejected role="alert" tabindex="-1" hidden>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-cookie-banner__content">
          <p class="govuk-body">You've rejected analytics cookies. You can <a class="govuk-link" href="/cookies/">change your cookie settings</a> at any time.</p>
        </div>
      </div>
    </div>
    <div class="govuk-button-group">
      <button type="button" class="govuk-button govuk-button--secondary" data-cookie-banner-hide>
        Hide cookie message
      </button>
    </div>
  </div>
</div>
