{#
  GOV.UK Cookie Banner Component

  Implements the GOV.UK Design System cookie banner pattern.
  https://design-system.service.gov.uk/components/cookie-banner/

  Usage:
  {% include "components/cookie-banner/template.njk" %}

  JavaScript initialization required in cookie-banner.ts
#}

{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{{ govukCookieBanner({
  ariaLabel: "Cookies on NDX",
  hidden: true,
  attributes: {
    "data-cookie-banner": ""
  },
  messages: [
    {
      headingText: "Cookies on NDX",
      html: '<p class="govuk-body">We use some essential cookies to make this service work.</p>
             <p class="govuk-body">We\'d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>',
      attributes: {
        "data-cookie-banner-question": ""
      },
      actions: [
        {
          text: "Accept analytics cookies",
          type: "button",
          attributes: {
            "data-cookie-banner-accept": ""
          }
        },
        {
          text: "Reject analytics cookies",
          type: "button",
          classes: "govuk-button--secondary",
          attributes: {
            "data-cookie-banner-reject": ""
          }
        },
        {
          text: "View cookies",
          href: "/cookies/"
        }
      ]
    },
    {
      html: '<p class="govuk-body">You\'ve accepted analytics cookies. You can <a class="govuk-link" href="/cookies/">change your cookie settings</a> at any time.</p>',
      role: "alert",
      hidden: true,
      attributes: {
        "data-cookie-banner-accepted": "",
        "tabindex": "-1"
      },
      actions: [
        {
          text: "Hide cookie message",
          type: "button",
          classes: "govuk-button--secondary",
          attributes: {
            "data-cookie-banner-hide": ""
          }
        }
      ]
    },
    {
      html: '<p class="govuk-body">You\'ve rejected analytics cookies. You can <a class="govuk-link" href="/cookies/">change your cookie settings</a> at any time.</p>',
      role: "alert",
      hidden: true,
      attributes: {
        "data-cookie-banner-rejected": "",
        "tabindex": "-1"
      },
      actions: [
        {
          text: "Hide cookie message",
          type: "button",
          classes: "govuk-button--secondary",
          attributes: {
            "data-cookie-banner-hide": ""
          }
        }
      ]
    }
  ]
}) }}
