// GOV.UK Frontend components
$_font-family: system-ui, sans-serif;
@use "pkg:govuk-frontend/dist/govuk" with (
  $govuk-font-family: $_font-family
);

// GOV.UK Eleventy Plugin components
@use "pkg:@x-govuk/govuk-eleventy-plugin";

.x-govuk-masthead__image img[src$=".svg"] {
  filter: invert(100%) saturate(1000%) brightness(1000%) contrast(100%);
  width: 100%;
  margin: -20% -20% -20% 0;
}

// Make navigation emoji black and white
.govuk-service-navigation__item a {
  .emoji {
    filter: grayscale(100%) invert(100%);
  }
  .sparkle {
    animation: sparkle 15s ease-in-out infinite;
    display: inline-block;
  }
}

@keyframes sparkle {
  0% {
    filter: hue-rotate(0deg) brightness(1);
  }
  25% {
    filter: hue-rotate(90deg) brightness(1.2);
  }
  50% {
    filter: hue-rotate(180deg) brightness(1.5);
  }
  75% {
    filter: hue-rotate(270deg) brightness(1.2);
  }
  100% {
    filter: hue-rotate(360deg) brightness(1);
  }
}

.homepage-grid {
  $icons: (discover, access, learn, try, optimise);

  h3 {
    a {
      background: {
        size: 3vw;
        repeat: no-repeat;
        position: -0.5vw center;
      }
      padding-left: 2vw;
    }

    @each $icon in $icons {
      &##{$icon} a {
        background-image: url(icons/#{$icon}.svg);
      }
    }
  }
}

// Review star styling
.govuk-summary-list .govuk-summary-list__value {
  span[aria-hidden="true"] {
    color: #b1b4b6;
    font-size: 1.25rem;

    &.lit {
      color: #ffdd00 !important;
    }
  }
}
