{# Include the original header template from the GOV.UK Eleventy plugin #}

{% include "../../../../node_modules/@x-govuk/govuk-eleventy-plugin/src/components/header//template.njk" %}
<div class"experimental_header">
  Hello World - Header Override Working!
</div> 