{# Include the original header template from the GOV.UK Eleventy plugin #}

{% include "../../../../node_modules/@x-govuk/govuk-eleventy-plugin/src/components/header//template.njk" %}
<div class="experimental_header"><p>
  This is a prototype vision of how a future government service could work. It's not a real service yet, but we're exploring what it could look like. Your <a href="mailto:ndx@dsit.gov.uk">feedback</a> will help shape the real service.
</p>
</div> 